    <div class = "flexmain">
        {{> header}}
        
    <div class = "headerright">
        <button type="logout-btn" class = "logout-btn"  onclick="window.location.href='/'">Logout</button>
        {{#eq checkUser user.urlname}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
        {{/eq}}
        {{#eq checkUser user.linkname}}
        <a href="/restaurant/{{user.landmark}}/{{user.linkname}}"><img src = "{{user.imagesquare}}"></a>
        {{/eq}}
    </div>
</div>  
        <div class = "flexrow headerholder">
        </div>
 
    <div class="inside">
        {{> sidebar}}

    <div class = "contentforotherpages">
        <div>
            <div class = "flexbody">
                <div class = "userprofileself">
                    <div class = "userprofileselfname">
                        {{userdata.name}} ({{userdata.user}})
                    </div>
                    <div class = "userprofileselfpfpnbio">
                        <div class = "userprofilepfp">
                            <img src = "{{userdata.image}}">
                        </div>
                        <div class = "userprofilebio">
                            <div class = "userbio">
                                <div id = "info" style="display: inline-block;">
                                Bio/Information: <br>{{userdata.description}}
                                </div>
                                <form class="review-form-container" action = "/report-user/" onsubmit="alerting(reportmsg, 'report')"method ="post" style="display: none;" id = "reporter">
                                    <textarea name="reportmsg" id="reportmsg" placeholder = "What's the issue?"></textarea>
                                    Reporting: 
                                    <input type="text" name ="username" value = "{{userdata.user}}" readonly>
                                    <button type="submitreview-button" class="editbio-button"  >Submit</button>
                                </form>
                                <form class="review-form-container" action = "/change-userbio/" method ="post" style="display: none;" id = "biochanger">
                                    <textarea name="userbio" placeholder = "Enter New Bio!"></textarea>
                                    <button type="submitreview-button" class="editbio-button">Submit</button>
                                </form>
                                <form class="review-form-container" action = "/change-profilepic/" method ="post" style="display: none;" id = "picchanger">
                                    <textarea name="userbio" placeholder = "Enter New Image Link!"></textarea>
                                    <button type="submitreview-button" class="editbio-button">Submit</button>
                                </form>
                            </div>
                            
    
                            <div class = "usereditbio">
                                {{#eq user.urlname userdata.urlname}}
                                <button type="editpfp-button" class = "editpfp-button" id = "changepic">Change Profile Picture</button>
                                <button type="editbio-button" class = "editbio-button" id = "changebio">Edit Bio</button>
                                {{/eq}}
                                <button type="report-button" class = "report-button" id = "reportuser">Report User</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "userprofilereviews">
                    <div class = "userprofilereviewleft">
                        <div class = "reviewupper">
                            Other Users
                        </div>

<!--OTHER USER LOOP HERE-->
        <form action = "/profile-page/{{userdata.urlname}}" method = "get">
            <input type="text" name ="userfield" />
            <input type="submit" value="Search" />
        </form>
{{#each otherusers}}
                        <div class = "friendcontainer">
                            <a href="/profile-page/{{urlname}}">
                                <div class = "friendcontainerleft">
                                    <img src = "{{image}}">
                                </div>
                            </a>
                            <div class = "friendcontainerright">
                                {{name}}
                            </div>
                        </div>
{{/each}}

                    </div>
                    <div class = "userprofilereviewright">
                        <div class = "reviewupper">
                            Recent Reviews
                        </div>
                        <div class = "reviewlower">
<!--REVIEWS LOOP HERE-->
{{#each userdata.revdata}}
{{#if notdeleted}}
                            <div class = "reviewcontainer">
                                <div class = "reviewcontainerleft">
                                    <img src = "{{this.revimg}}">
                                </div>
                                <div class = "reviewcontainerright">
                                    <div class = "rctop">
                                        <a href= "{{this.urlname}}">{{this.revname}}</a>
                                    </div>
                                    <div class = "rcmid">
                                        {{this.revrating}}
                                    </div>
                                    <div class = "rcbottom">
                                        {{this.rev}}
                                    </div>
                                </div>
                            </div>
{{/if}}
{{/each}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="bottomoverflow"></div>
            <div class="bottomoverflow"></div>
            <div class="bottomoverflow"></div>
        </div>
    </div>
</div>