
<div class = "flexmain">
    {{> header}}
    
    <div class = "headerright">
        <button type="logout-btn" class = "logout-btn"  onclick="window.location.href='/'">Logout</button>
        {{#eq checkUser user.urlname}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
        {{/eq}}
        {{#eq checkUser user.linkname}}
        <a href="/showall/"><img src = "{{user.imagesquare}}"></a>
        {{/eq}}
    </div>
</div>
    <div class = "headerholder">
    </div>
    <div class="inside">
        {{> sidebar}}
    <div class = "contentforotherpages">
        <div class = "flexbody">
            <div class = "flexrestopart flexmenulist">
                {{#if restos.length}}
                    {{#each restos}}
                        <a href="/restaurant/{{landmark}}/{{linkname}}" class = "flexmenuresto">
                            <span>{{name}}</span>
                            <img src = "{{image}}">  
                        </a>
                    {{/each}}
                {{else}}
                <!-- Display a message if 'restos' array is empty -->
                    <div class = "flexmenuresto">
                        <span>No restaurants here yet~</span>
                        <img src = "/common/Images/constructioninprogress.png">  
                    </div>
                {{/if}}
            </div>
        </div>
    </div>  
    </div>
</div>
