
<div class = "flexrow">
    {{> sidebarResto}}
    <div class = "flexmain">
    <div class = "flexrow headerholder"></div>
    {{> sidebar}}
    <div class = "contentforotherpages">
        <div class = "flexbody">
            <div class = "flexrow flexrestopart">
                <div class = "restoprofile">
                    <img src = "Images/mcdo-umall.jpg">
                </div>

                <div class = "restodesc">
                    <span>Description</span>
                    <p>
                        {{restos.description}}
                    </p>
                </div>

                <div class = "restomenu">
                    <span>Recommendations</span>
                    <ul>
                        {{#each restos.recommendations}}
                        <li>{{recom}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class = "flexrow flexrestopart">
                <div class = "revsummary">
                    <p>Name: {{restos.name}}</p>
                    <p>Landmark: {{restos.landmark}}</p>
                    <p>Posts: {{restos.posts}}</p>
                    <p>Reviews: {{restos.reviews}}</p>
                    <p>Avg Rating: {{restos.rating}}</p>
                </div>

                <div class = "revstars">
                    <img src = "Images/STARS.png">
                </div>

                <table>
                    <tr>
                        <td><progress value="80" max="100"></progress></td>
                    </tr>
                    <tr>
                        <td><progress value="50" max="100"></progress></td>
                    </tr>
                    <tr>
                        <td><progress value="70" max="100"></progress></td>
                    </tr>
                    <tr>
                        <td><progress value="90" max="100"></progress></td>
                    </tr>
                    <tr>
                        <td><progress value="60" max="100"></progress></td>
                    </tr>
                </table>  
            </div>
        </div>
    </div>
    <div class="half-screen" id="reviews5">
        <div class="review-form" id="reviews5">
            <div class="btn-left">
                <button type="button" class="rclose-btn" onclick="closeReviews('reviews5')">×</button>
            </div>

            {{#each restos.revdata}}
            <div class = "review-box">
                <span>
                <div class = "review-profile">
                    <a href="profilepage3.html"><img src = "Images/PFPs/catpfp.png"></a>
                    <span><strong>{{revname}}</strong><br/>★★★★★</span></div></span>
                <p>
                    {{rev}}
                </p>
                
                <div class="thumbs">
                    <div class="like grow">
                        <i class="fa fa-thumbs-up like" aria-hidden="true" id="like-review" onclick="toggleThumb('like-review','dislike-review')">127</i>
                    </div>
                        <div class="dislike grow">
                        <i class="fa fa-thumbs-down like" aria-hidden="true" id="dislike-review" onclick="toggleThumb('dislike-review','like-review')">1</i>
                    </div>
                </div>
                <div class="btn-right">
                    <button type="button" class="comment-btn" id="commentButton" onclick="toggleComments('commentButton', 'commentForm', 'commentReply')">Show/Leave Comments</button>
                </div>
                {{#each comments}}
                <div class="comment-box">
                    <section>
                    <br/>
                    <form class = "comment-form" id="commentForm">
                            <textarea name="about-me" rows="5" cols="60">.</textarea>
                            <div class="btn-center">
                            0/500<br/>
                            <button type="submit" class="btn">Submit</button>
                            </div>
                    </form>
                    <div class="comment-replies" id="commentReply">
                        <a href="Resto.html"><img src = "Images/mcdo-umall.jpg"></a>
                        <span><br/><br/><strong>{{comname}}</strong><br/>
                        <p>{{com}}
                        </p>
                        </span>
                    
                    </div>
                    
                    </section>
                </div>
                {{/each}}
            </div>   
            {{/each}}
            
        </div> 
    </div>
    <div class = "sidebaraside"></div>
</div>
{{> header}}
</div>