    <div class = "flexmain">
            {{> header}}
            
    <div class = "headerright">
        <button type="logout-btn" class = "logout-btn"  onclick="window.location.href='/'">Logout</button>
        {{#eq checkUser user.urlname}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
        {{/eq}}
        {{#eq checkUser user.linkname}}
        <a href="/restaurant/{{user.landmark}}/{{user.linkname}}"><img src = "{{user.imagesquare}}"></a>
        {{/eq}}
    </div>
</div>
        
        <div class = "flexrow headerholder">
        </div>

        <div class="inside">
            {{> sidebar}}

        <div class = "contentforotherpages">
            <div class = "flexbody">
                <div class = "restopartandnamecontainer">
                    <div class = "userprofileselfname">
<!--REMEMBER RESTO RATINGS-->
                        {{restodata.name}}  <div id="outer">
                                        <div id="overlay" style="width:{{vrating}}%"></div>
                                                <div id="inner"></div>
                                            </div>
                    </div>
                    <div class = "flexrow flexrestopart">
                        <div class = "restoprofile">
                            <img src = "{{restodata.image}}">
                        </div>
    
                        <div class = "descandbuttons">
                            <div class = "restodesc" id="restodescid">
                                <span>Description</span>
                                <p id = "info" style="display: inline-block;">
                                    {{restodata.description}}
                                </p>
                                <form class="review-form-container"  action = "/report-resto/" method ="post" style="display: none;" id = "reporter">
                                    <textarea name="reportmsg" id="reportmsg" placeholder="What's the issue?"></textarea>
                                    Reporting: 
                                    <input type="text" name ="restoname" value = "{{restodata.name}}" readonly>
                                    Near:
                                    <input type="text" name ="landmark" value = "{{restodata.landmark}}" readonly>
                                    <button type="submitreview-button" class="editbio-button">Submit</button>
                                </form>
                                <form class="review-form-container" action = "/change-restopic/" method = "post" style="display: none;" id = "picchanger">
                                    <textarea name="restodesc" placeholder = "Enter New Image Link!"></textarea>
                                    <button type="submitreview-button" class="editbio-button">Submit</button>
                                </form>
                                <form class="review-form-container" action = "/change-restobio/" method = "post" style="display: none;" id = "biochanger">
                                    <textarea name="restodesc" placeholder = "Enter New Description!"></textarea>
                                    <button type="submitreview-button" class="editbio-button">Submit</button>
                                </form>
                            </div>
                            <div class = "usereditbio">
                                <button type="map-button" onclick="openInNewTab('{{restodata.maplink}}')" class = "editbio-button" id = "mapbutton" >Map</button>
                                {{#eq restodata.name user.name}}
                                <button type="editpfp-button" id = "changerestopic" class = "editpfp-button">Change Picture</button>
                                <button type="editbio-button" id = "changerestobio" class = "editbio-button">Edit Bio</button>
                                {{/eq}}
                                <button type="report-button" id = "reportresto"  class = "report-button">Report</button>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class = "userprofilereviews">
                    <div class = "userprofilereviewleft">
                        <div class = "reviewupper">
                            {{restodata.landmark}}
                        </div>
                        <!-- OTHER RESTO LOOP HERE -->
                        {{#each otherresto}}
                        <div class = "friendcontainer">
                            <a href="/restaurant/{{landmark}}/{{linkname}}">
                                <div class = "friendcontainerleft">
                                    <img src = "{{this.imagesquare}}">
                                </div>
                            </a>
                            <div class = "friendcontainerright">
                                {{this.name}}
                            </div>
                        </div>
                        {{/each}}
                        <div class = "friendcontainer">
                            <a href="/menu-page/">
                                <div class = "friendcontainerleft">
                                    <img src = "/common/Images/taft.jpg">
                                </div>
                            </a>
                            <div class = "friendcontainerright">
                                Explore Taft
                            </div>
                        </div>

                        
                    </div>
                    <div class = "userprofilereviewright">
                        <div class = "reviewupper">
                            Recent Reviews
                        </div>
                        <div class = "reviewlower">
                            <div class = "reviewtext">
                                <form class="review-form-container" id="myForm" >
                                <textarea name="review" id="reviewcomment" placeholder="Write a Review!"></textarea>
                                        <div class="rate">
                                            <input type="radio" id="star5-resto" name="rate-resto" value="5" autocomplete= "off"/>
                                            <label for="star5-resto" title="text"> 5 stars</label>
                                            <input type="radio" id="star4-resto" name="rate-resto" value="4"  autocomplete= "off"/>
                                            <label for="star4-resto" title="text"> 4 stars</label>
                                            <input type="radio" id="star3-resto" name="rate-resto" value="3"  autocomplete= "off"/>
                                            <label for="star3-resto" title="text-resto"> 3 stars</label>
                                            <input type="radio" id="star2-resto" name="rate-resto" value="2"  autocomplete= "off"/>
                                            <label for="star2-resto" title="text"> 2 stars</label>
                                            <input type="radio" id="star1-resto" name="rate-resto" value="1"  autocomplete= "off"/>
                                            <label for="star1-resto" title="text"> 1 star</label>
                                        </div>
                                       
                                    <button type="submitreview-button" class="editbio-button" id = "review" data-person="{{user.name}}" data-resto="{{restodata.name}}">Submit</button>
                                
                                </form>
                            </div>

                        <!--OTHER REVIEWS HERE-->
                        {{#each restodata.revdata as |review reviewIndex|}}
                        {{#if notdeleted}}
                            <div class = "reviewcontainer2">
                                <div class = "reviewcontainerleft2">
                                    <img src = "{{this.revimg}}">
                                </div>
                                <div class = "reviewcontainerright2">
                                    <div class = "rctop2">
                                        <a href= "{{this.urlname}}">{{this.revname}}</a>
                                    </div>
                                    <div class = "rcmid2">
                                        {{this.revrating}}
                                    </div>
                                    <div class = "rcbottom2">
                                        {{this.rev}}
                                    </div> 
                                    
                                    <div class = "usereditbio2">
                                        <div class="thumbs">
                                            <div class="like grow" onclick="likedislike({{restodata}}, 'likes' ,{{@index}}, -1)">
                                                <i class="fa fa-thumbs-up like" aria-hidden="true" id="{{restodata.user}}-like-review-{{@index}}--1" >{{this.likes.length}}</i>
                                            </div>
                                            <div class="dislike grow" onclick="likedislike({{restodata}}, 'dislikes' ,{{@index}}, -1)">
                                                <i class="fa fa-thumbs-down like" aria-hidden="true" id="{{restodata.user}}-dislike-review-{{@index}}--1" >{{this.dislikes.length}}</i>
                                            </div>
                                            <button type="reply-button" class = "reply-button">Reply</button>
                                            {{#if hascomments}}
                                            <button type="viewreplies-button" id = "viewreply" class = "viewreplies-button">View Replies</button>
                                            {{/if}}
                                            {{#eq this.revname ../user.name}}
                                            <button type="edit-button" class = "editbio-button" id = "editcomment">Edit</button>
                                            <button type="delete-button" class = "report-button delete-comment" data-commentdelete-revindex="{{reviewIndex}}" data-commentdelete-comindex="-1" data-commentdelete-restoname="{{../restodata.name}}" data-commentdelete-username="{{this.revname}}">Delete</button>
                                            {{/eq}}

                                            <div class="reply-container"   style="display: none;">
                                                <textarea name="reply-text" id="reply-text-{{this.rev}}" rows="5" cols="50"></textarea>
                                                <div class = "usereditbio">
                                                    <button type="button" class="reply-button" data-replyto-id="{{this.rev}}" data-person="{{../user.name}}">Reply</button>
                                                </div>
                                            </div>

                                            <div class = "replytoreview" style="display: none;">
                                            <!--OTHER REPLIES TO THE REVIEW HERE-->
                                            {{#if this.hascomments}}
                                            {{#each this.comments as |comment commentIndex|}}
                                            {{#if notdeleted}}
                                                <div class = "reviewcontainer3" id="comment-{{this._id}}">
                                                    <div class = "reviewcontainerleft2">
                                                        <img src = "{{this.comimg}}">
                                                    </div>
                                                    <div class = "reviewcontainerright2">
                                                        <div class = "rctop2">
                                                            <a href= "{{this.urlname}}">{{this.comname}}</a>
                                                        </div>
                                                        <div class = "rcbottom2">
                                                            {{this.com}}
                                                        </div> 
                                                        
                                                        <div class = "usereditbio2">
                                                            <div class="thumbs">
                                                                <div class="like grow" >
                                                                    <i class="fa fa-thumbs-up like" aria-hidden="true" id="{{restodata.user}}-like-review-{{reviewIndex}}-{{commentIndex}}" >{{this.likes.length}}</i>
                                                                </div>
                                                                <div class="dislike grow" >
                                                                    <i class="fa fa-thumbs-down like" aria-hidden="true" id="{{restodata.user}}-dislike-review-{{reviewIndex}}-{{commentIndex}}" >{{this.dislikes.length}}</i>
                                                                </div>
                                                                {{#eq this.comname ../../user.name}}
                                                                <button type="edit-button" class = "editbio-button" id = "replyedit">Edit</button>
                                                                <button type="delete-button" class = "report-button delete-comment" data-commentdelete-revindex="{{reviewIndex}}" data-commentdelete-comindex="{{commentIndex}}" data-commentdelete-restoname="{{../../restodata.name}}" data-commentdelete-username="{{this.comname}}">Delete</button>
                                                                {{/eq}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/if}}
                                            {{/each}}
                                            {{/if}}  
                                            </div>
                                            
                                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{/each}}


                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomoverflow"></div>
            <div class="bottomoverflow"></div>
            <div class="bottomoverflow"></div>
        </div>
    </div>