
<div class = "flexmain">
    {{> header}}
    
    <div class = "headerright">
        {{#if user.urlname}}<button type="logout-btn" class = "report-button"  onclick="window.location.href='/'">Logout</button>{{/if}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
    </div>
</div>
    <div class = "headerholder">
    </div>
    <div class="inside">
        {{> sidebar}}
    <div class = "contentforotherpages">
        <div class = "flexbody">
            <div class = "flexrestopart flexmenulist">
                {{#each restos}}
                    <a href="/restaurant/{{landmark}}/{{linkname}}" class = "flexmenuresto">
                        <span>{{name}}</span>
                        <img src = "{{image}}">  
                    </a>
                {{/each}}
            </div>
        </div>
    </div>  
    </div>
</div>
