

<div class = "flexmain">
    {{> header}}
    
    <div class = "headerright">
        <button type="logout-btn" class = "logout-btn"  onclick="window.location.href='/'">Logout</button>
        {{#eq checkUser user.urlname}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
        {{/eq}}
        {{#eq checkUser user.linkname}}
        <a href="/showall/"><img src = "{{user.imagesquare}}"></a>
        {{/eq}}
    </div>
</div>
<div class="flexrow headerholder"></div>
<div class="inside">
    {{> sidebar}}
    <div class="contentforotherpages">
    <div class = "flexbody">
        {{#each restos}}
        <div class = "flexrestopart flexmenulist">
            {{#each this}}
            <div class = "flexmenuresto">
                <span>{{name}}</span>
                <a href = "/restaurant/{{landmark}}/{{linkname}}">
                <img src = "{{image}}">
                </a>
            </div>
            {{/each}}
        </div>{{/each}}
        
    </div>   
</div>
</div>
