

<div class = "flexmain">
    {{> header}}
    
    <div class = "headerright">
        {{#if user.urlname}}<button type="logout-btn" class = "report-button"  onclick="window.location.href='/'">Logout</button>{{/if}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
    </div>
</div>
</div>
<div class="headerholder"></div>
<div class="inside">
    {{> sidebar}}
    <div class = "flexbody">
        {{#each restos}}
        <div class = "flexrestopart flexmenulist">
            {{#each this}}
            <div class = "flexmenuresto">
                <span>{{name}}</span>
                <a href = "/restaurant/{{landmark}}/{{linkname}}">
                <img src = "{{image}}">
                </a>
            </div>
            {{/each}}
        </div>{{/each}}
        
    </div>   
</div>
